<% if current_user %>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% avatar_url = @user.avatar_url(45) %>
      <% if avatar_url %>
        <div class="media-object wrap align-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="vote-arrows pull-left">
    <div>
      <%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
    <div>
      <strong>
        <%= post.points %>
      </strong>
    </div>
    <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
  </div>
<% end %>
